/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

div#content-container {
  text-align: center;
  margin: 10% 0;
}

h1#logo {
  /*font-family: font-family: 'Over the Rainbow', cursive;*/
  font-size: 60px;
  font-family: 'Cutive Mono', serif;
  text-decoration: underline;
  margin-bottom: 5%;
}

div p {
  font-family: 'Cutive Mono', serif;
  font-size: 30px;
}